<header class="pb-3 text-center text-sm-left">
  <img src="assets/img/angular.png" class="logotipo img-fluid d-block d-sm-inline ">
  <h1 class="display-1 d-inline mx-0 mx-sm-5 text-center text-sm-right">{{ title }}</h1>
</header>
<section class="row">
  <nav class="col-12 col-sm-3 col-xl-2 mx-auto">
    <div class="btn-group-vertical mt-2 mt-sm-5" id="menu-vertical" role="group" aria-label="Menu Lateral">
      <button type="button" [routerLink]="['/apresentacao']" class="btn btn-secondary">O que é Angular?</button>
      <button type="button" [routerLink]="['/made-of']" class="btn btn-secondary">Do que é feito?</button>
      <button type="button" [routerLink]="['/pra-que-serve']" class="btn btn-secondary">Para que serve?</button>
      <button type="button" [routerLink]="['/como-fazer']" class="btn btn-secondary">Como fazer uma aplicação?</button>
    </div>
  </nav>

  <article class="col-12 col-sm-9 col-xl-10 py-4 py-sm-0">
    <div id="miolo">

      <router-outlet></router-outlet>

    </div>

  </article>
</section>
<footer class="text-center bg-secondary pt-4 pb-3">
  <p class="small mt-5 mb-0">
    Copyright John Gerber
  </p>
</footer>