<h3>Angular</h3>
<p>
    É uma evolução do AngularJS, mas já não tem nada a ver com ele. Estamos falando aqui do Angular 12.
</p>
<p>
    Seu propósito e ser um framework SPA (single page applications). Ele foi criado para gerenciar totalmente a página.
    Ele faz tudo, gerencia componentes, roteamento, requests e tudo mais. As aplicações Angular são monolíticas.
</p>
<h4>Curva de Aprendizado / pré requisitos</h4>
<p>
    Angular é um framework muito complexo. Para começar a utiliza-lo é preciso ter conhecimento sobre: WebPack;
    Configurar Módulos Node.js; NPM; e TypeScript que é relativamente fácil.
</p>
<p>
    Tendo esse pré conhecimento a curva de aprendizagem ainda é alta, A complexidade do Angular exige bom conhecimento
    da ferramenta.
</p><br>
<h4>Preparação Ambiente de desenvolvimento / Instalação</h4>
<p>
    Graças ao Angular CLI (command line interface) preparar o ambiente de desenvolvimento é super simples. Basta
    instalar o pacote @angular\cli que possui comandos para criar uma aplicação, rodar servidor de testes, criar
    componentes, fazer o deploy final e tudo mais. Nesse caso só precisamos de um editor de código como VS Code, Atom,
    Sublime etc. Dessa forma o conhecimento sobre WebPack é quase desnecessário.
</p>
<h4>Construção dos Templates</h4>
<p>
    Construir templates é muito fácil com Angular. Os templates são arquivos HTML comuns. As diretivas de templates do
    angular como if , for, integração com variáveis, são todas simples e intuitivas.
</p>
<h4>Integração com Lógica</h4>
<p>
    Também muito simples. Cada componente tem uma classe as quais as funções são visíveis aos templates. Basta criar uma
    função com a lógica desejada e utiliza-la.
</p>
<h4>Gerenciador de Formulários</h4>
<p>
    Angular permite gerenciar formulários de 3 formas: NgForm, Reactive Forms e atribuindo variáveis aos inputs que é o
    jeito mais simples e fácil.
</p>
<h4>Comunicação Cliente Servidor</h4>
<p>
    Angular 12 possui um componente chamado HttpClient que concentra a lógica de comunicação com servidor via HTTP e faz
    todo o trabalho sujo de gerenciar requisições e suas respostas, deixando o desenvolvedor bem tranquilo.
</p>
<h4>Simplicidade</h4>
<p>
    Angular não é um framework simples. primeiro por que precisa de um ambiente inteiro para gerar uma aplicação e
    também precisa de um módulo e um componente para gerar um simples “hello world”. Considero o Angular bem complexo.
</p>
<h4>Recursos</h4>
<p>
    Já vem com muitos recursos “out of the box” como injeção de dependência, http client, roteamento etc…
</p>
<h4>Facilidade no Desenvolvimento</h4>
<p>
    TypeScript merece destaque aqui. Graças a uma linguagem tipada é possível prevenir a grande maioria de erros durante
    a codificação, ou seja, sem precisar rodar a aplicação para ver que você passou um parâmetro errado para a função,
    ou digitou errado o nome de uma variável. E o intelisense do TypeScript permite desenvolver muito rápido. Algumas
    pessoas acham ruim usar o TypeScript, eu adorei. Vários pontos positivos pra ele!
</p>
<p>
    E rodar a aplicação, debugar, testar e criar pacote final, são tarefas que são resolvidas facilmente com o Angular
    CLI sem dor de cabeça.
</p>
<h4>Flexibilidade</h4>
<p>
    É muito difícil utilizar o Angular de uma forma diferente para qual ele foi criado. ou seja, um SPA monolítico.
</p>
<h4>Tamanho para carregamento</h4>
<p>
    Os arquivos principais gerados pelo Angular são grandes (500KB) mas. Também deve se tomar cuidado para que a aplicação não fique gigante e carregada toda de uma vez (sintomas de SPA).
</p><br>
<a href="https://medium.com/@daniel.dia/compara%C3%A7%C3%A3o-entre-angular-react-redux-e-vue-js-a256d0fce8e0" class="fonte">Fonte - Daniel Santos</a><br>


